<h1>Inventory List</h1>

<table border="1" width="100%">
    <tr>
        <th>Sr.No</th>
        <th>Item Name</th>
        <th>Item Code</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Expiry Date</th>
        <th>Action</th>
    </tr>

    <% list.map(function(item,i){ %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= item.item_name %></td>
                <td><%= item.item_code %></td>
                <td><%= item.quantity %></td>
                <td><%= item.price %></td>
                <td><%= item.expiry_date %></td>
                <td><a href="/delete/<%= item.item_id%>">Delete</a>
                <a href="/update/<%= item.item_id%>">Update</a></td>
            </tr>
     <% }) %>